@use '../variables';
@use '../mixins';
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-hd": 1240px,
          "desktop-sd": 1440px);


.background {

    &__circleBg {
        @include bgBlurCircle(200px);
        @include absoluteCenterY;
        left: 50px;
        z-index: 20;
    }

    &__star svg {
        width: 30px;
        height: 30px;
    }

    &__star {
        position: absolute;

        &:nth-child(1) {
            left: 10px;
            top: 10px;
        }

        &:nth-child(2) {
            top: 30px;
            left: 200px;
        }
        &:nth-child(3) {
            bottom: 350px;
            right: 50px;
        }
        &:nth-child(4) {
            left: 150px;
            bottom: 140px;
        }
        &:nth-child(5) {
            bottom: 180px;
        }
    }
}



@media (min-width: map.get($screen, tablet)) {
    .background {

        &__star svg {
            width: initial;
            height: initial;
        }

        &__abstract {
            background-image: url('../../images/bg.png');
            background-repeat: no-repeat;
            @include size(690px, 650px);
            position: absolute;
            z-index: 20;
            right: -100px;
            bottom: 130px;
        }

        &__star {

            &:nth-child(1) {
                left: 50px;
                top: initial;
            }
    
            &:nth-child(2) {
                top: 30px;
                left: 200px;
            }
            &:nth-child(3) {
                bottom: 200px;
                left: 700px;
                right: initial;
            }
            &:nth-child(4) {
                top: 10px;
                right: 270px;
                left: initial;
                bottom: initial;
            }
            &:nth-child(5) {
                bottom: 500px;
                left: 100px;
            }
        }
    }
}
@media (min-width: map.get($screen, desktop-hd)) {
    .background {

        &__star {
            animation-name: rotate;
            @include animation(9s);
        }

        &__circle {
            position: absolute;
            border-radius: 50%;

            &:nth-child(6) {
                @include size(33px, 33px);
                background: $bgColor;
                top: 300px;
                left: 300px;
                
                &::before {
                    content: '';
                    @include gradientBorder(50%, 104%, -2%);
                }
            }
    
            &:nth-child(7) {
                @include size(40px, 40px);
                background: linear-gradient(90deg, $gradientColor1 0%, $gradientColor2 80%);
                top: 150px;
                right: 100px;
                animation-name: rotate;
                @include animation(9s);
                animation-delay: 2s;
            }
    
            &:nth-child(8) {
                @include size(20px, 20px);
                background: linear-gradient(90deg, $gradientColor1 0%, $gradientColor2 80%);
                bottom: 400px;
                right: 350px;
                animation-name: rotate;
                @include animation(9s);
                animation-delay: 2s;
            }
            
            &:nth-child(9) {
                @include size(24px, 24px);
                background-color: $bgColor;
                top: 10px;
                left: 350px;
                
                &::before {
                    content: '';
                    @include gradientBorder(50%, 106%, 3%);
                }
            }
    
            &:nth-child(10) {
                @include size(34px, 34px);
                background-color: $bgColor;
                bottom: 350px;
                right: 150px;
                
                &::before {
                    content: '';
                    @include gradientBorder(50%, 104%, -2%);
                }
            }
    
            &:nth-child(11) {
                @include size(44px, 44px);
                background-color: $bgColor;
                top: 10px;
                right: 100px;
    
                &::before {
                    content: '';
                    @include gradientBorder(50%, 106%, 2%);
                }
            }  
        }
        
        
    }  
}


@keyframes rotate {

    0% {
        transform: rotate(0deg) scale(1);
        filter: blur(1px);
    }

    25% {
        transform: rotate(90deg) scale(0.8);
        filter: blur(0px);
    }

    50% {
        transform: rotate(180deg) scale(0.6);
        filter: blur(3px);
    }

    75% {
        transform: rotate(270deg) scale(0.8);
        filter: blur(0px);
    }

    100% {
        transform: rotate(360deg) scale(1);
        filter: blur(1px);
    }

}