@use '../variables';
@use '../mixins'; 
@use "sass:map";

$screen: ("tablet": 768px,
          "laptop": 1024px,
          "desktop-hd": 1240px,
          "desktop-sd": 1440px);

.category-card {
    padding: 30px;
    border-radius: 15px;
    background-color: $bgColor;
    @include column(30px);
    align-items: center;
    position: relative;


    &::before {
        content: "";
        @include gradientBorder(15px);
    }

    &::after {
        position: absolute;
        content: "";
        top: 60px;
        left: 0;
        right: 0;
       
        z-index: -1;
        @include size(100%, 100%);
        margin: 0 auto;
        transform: scale(0.8);
        filter: blur(70px);
        @include gradient(90deg, $gradientColor1, $gradientColor2);
        opacity: .5;
        transition: opacity 2s;
    }


    &__images-list {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
    }

    &__image {
        border-radius: 17px;

        &:nth-child(1) {
            grid-column: 1/2;
            grid-row: 1/3;
            @include size(130px, 190px);
        }
        &:nth-child(2) {
            grid-column: 2/4;
            grid-row: 1/2;
            @include size(134px, 85px);
        }
        &:nth-child(3) {
            grid-column: 2/3;
            grid-row: 2/3;
            @include size(60px, 90px);
        }
        &:nth-child(4) {
            grid-column: 3/4;
            grid-row: 2/3;
            @include size(60px, 90px);
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto auto;
        column-gap: 15px;
        row-gap: 8px;
    }

    &__avatar {
        grid-column: 1/2;
        grid-row: 1/3;
        position: relative;
        align-self: center;
    }

    &__avatar-img img {
        border-radius: 20px;
        @include size(100%, 100%);
    }

    &__check {
        @include size(18px, 18px);
        border-radius: 50%;
        background-color: #0A85FF;
        border: 1px solid #FFFFFF;
        position: absolute;
        right: 8px;
        bottom: 8px;
    }

    &__check-icon svg {
        position: absolute;
        @include absoluteCenter;
        @include size(9px, 6px);
    }

    &__name {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: flex-end;
        @include font($inter, 400, 22px, 30px, #FFFFFF);
    }

    &__subtitle {
        grid-column: 2/3;
        grid-row: 2/3;
        align-self: flex-start;
        @include font($poppins, 400, 16px, 24px, #898698);
    }

    &__likes-field {
        grid-column: 3/4;
        grid-row: 1/3;
        align-self: center;
        display: flex;
        align-items: center;
        gap: 10px;
        @include size(77px, 25px);
        padding: 7px 15px;
        border-radius: 15px;
        background-color: #251c53;
    }

    &__likes-text {
        @include font($roboto, 400, 14px, 21px, #FFFFFF);
    }
}

@media (min-width: map.get($screen, tablet)) {
    .category-card {
         &__images-list {
            grid-gap: 20px;
        }
    }
}
@media (min-width: map.get($screen, laptop)) {
    .category-card {

        &__images-list {
            grid-gap: 10px;
        } 
    }
}
@media (min-width: map.get($screen, desktop-sd)) {
    .category-card {

        &__images-list {
            grid-gap: 15px;
        }

        &__image {
            border-radius: 17px;

            &:nth-child(1) {
                @include size(160px, 234px);
            }
            &:nth-child(2) {
                @include size(161px, 105px);
            }
            &:nth-child(3) {
                @include size(66px, 99px);
            }
            &:nth-child(4) {
                @include size(66px, 99px);
            }
        }
    }
}